.main-form {
  /* Position */
  position: absolute;
  top: 80px;
  left: 50px;
  z-index: 10;

  /* Box Model */
  min-width: 300px;
  min-height: 300px;
  padding: 30px;

  /* Visual */
  background-color: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border-bottom: 8px solid indianred;
}

.main-form__place-input {
  /* Typography */
  font-size: 1.2em;
}
